*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.mountain1 {
    position: absolute;
    bottom: -100px;
    width: 1500px;
    right: 0;
    z-index: 19;
}

.person {
    position: absolute;
    width: 650px;
    bottom: -100px;
    left: -70;
    z-index: 21;
    filter: blur(0.3px);
}

.mountain2 {
    position: absolute;
    bottom: -100px;
    width: 1100px;
    left: 0;
    z-index: 20;
}

.sky {
    position: absolute;
    width: 2100px;
    bottom: 100px;
    right: 0;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), transparent)
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;

}

.logo span{
    font-weight: 300;
}

.hamburger-menu {
    width: 1.55rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 70;
}

.bar {
   position: relative;
    width: 1.2rem;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

.bar::before, .bar::after{
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;

}

.bar:before{
    transform: translateY(-8px);

}

.bar::after{
    transform: translateY(8px);
    
}

.big-title {
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
   width: 100%;
   text-align: center;
   font-size: 5rem;
   font-weight: 900;
   color: #fff;
}

section{
    width: 100%;
    background-color: #151515;
    position: relative;
}

section .container{
    padding: 3rem;
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img{
    width: 100%;
}

section .container > * {
    margin: 2rem;
}


.content {
    color: #fff;
    font-weight: 500;
    transform: translateY(-50px);
}

.imgContainer {
    transform: translateY(-50px);
}


.title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.border {
    position: absolute;
    width: 30%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow {
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity {
    opacity: 0;
}

@media(max-width: 850px){
    section .container {
        grid-template-columns:  1fr; 
    }
}





.text {
    font-family: "Poppins", sans-serif;
}

.content h2 {
    font-family: "Poppins", sans-serif;
}

.contactForm h2 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    bottom: 70%;
    
}

.contactForm span {
    font-family: "Poppins", sans-serif;
}


.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.contactForm {
    width: 40%;
    padding: 40px;
}

.contactForm h2{
 font-size: 30px;
 font-weight: 500;
 margin-bottom: 100px;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactForm .inputBox input, textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 30px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
}

.contact .inputBox span {
    position: absolute;
    left: 0;
    padding:  0;
    font-size: 16px;
    margin:  0;
    pointer-events: none;
    transition: 0.5s;
}

.contact .inputBox input:focus ~ span,
.contact .inputBox input:valid ~ span,
.contact .inputBox textarea:focus ~ span,
.contact .inputBox textarea:valid ~ span{
    color: rgb(106, 163, 88);
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="Submit"] {
    width: 100px;
    background: #00bcd4;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
  

    .container{
        flex-direction: column;
    }

    .container .contactInfo{
        margin-bottom: 40px;
    }

    .container .contactInfo,
     .contactForm {
        width: 100%;
    }

    .contactForm  {
        position: relative;
        right: 50px;
    }



}


.contact {
    color: white;
}

.contactForm {
    width: 100%;
}



/*navegacao*/ 
  
.burger {
    display: none;
    cursor: pointer;
    z-index: 70;
  }
  
  .line2 {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  
  
  .line1, .line3 {
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 5px;
  }

  body {
    overflow-x: hidden;
   
   
  }
  
  .nav-links {
      position: fixed;
      right: 0px;
      top: 50px;
      height: 82vh;
      top: 9vh;
      background: rgb(39, 122, 36);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  
    
  }
  .nav-links {
    opacity: 0;
  }
  .burger{
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  
}


@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.projects h1 {
   text-align: center;
    color: white;
}







.box1 {
    width: 200px;
    height: 200px;
    background-color: rgb(83, 69, 69);
    color: black;
    }
    


.box2 {
    width: 200px;
    height: 200px;
    background-color: rgb(4, 238, 160);
    color: black;
}

.box3 {
    width: 200px;
    height: 200px;
    background-color: rgb(228, 174, 25);
    color: black;
}

.box4 {
    width: 200px;
    height: 200px;
    background-color: rgb(25, 96, 228);
    color: black;
}

.box5 {
    width: 200px;
    height: 200px;
    background-color: rgb(228, 25, 228);
    color: black;
}

.projects h2{
    text-align: center;
    font-size: 25px;
    display:table-cell; 
    vertical-align: middle;
   
}



/* From uiverse.io */
button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
  margin-left: auto;
  margin-right: auto;


  
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }